* text=auto eol=lf
*.md text eol=lf
*.py text eol=lf
*.toml text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.json text eol=lf
*.h text eol=lf
*.cc text eol=lf
*.cpp text eol=lf
*.ps1 text eol=lf
*.patch -text whitespace=-blank-at-eol,-blank-at-eof
